@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap");

@font-face {
  font-family: 'Agrandir';
  src: url('./Components/CustomTypography/Agrandir/Agrandir-GrandHeavy.otf') format('opentype');
  font-style: normal;
}

*{
  padding: 0px;
  margin: 0px;
}

